<footer class="flex flex-col items-center bg-primary-dark-background py-16 text-white">
	<article class="flex flex-col items-start justify-start gap-16 sm:flex-row">
		<a href="#index" class="mr-16 mt-10 flex w-[10rem] items-center lg:ml-8 lg:mr-0 lg:mt-0">
			<img
				src="../images/nimion-primary-dark.png"
				alt="Icon Nimion"
				class="h-[5.5rem] w-[5.5rem] lg:-ml-14"
			/>
			<h4 class="ml-5 w-[6rem] text-center text-[1.5rem] font-normal tracking-[0.2rem]">NIMION</h4>
		</a>
		<div class="flex flex-col items-center gap-3 md:items-start">
			<h4>Contactanos</h4>
			<div class="flex items-center gap-5">
				<img src="../images/emailf.png" alt="Icon email" class="h-4 w-4 invert" />
				<a
					href="mailto:nimionsoftware@gmail.com"
					class="text-xs text-gray-400 transition-all hover:scale-105 hover:text-white"
					>nimionsoftware@gmail.com</a
				>
			</div>
			<div class="flex items-center gap-4">
				<img src="../images/argentina.png" alt="Argentina flag" class="h-4 w-4" />
				<a
					href="Tel:+5493413869246"
					class="text-xs text-gray-400 transition-all hover:scale-105 hover:text-white"
					>+54 9 341 386 9246</a
				>
			</div>
			<div class="flex items-center gap-4">
				<img src="../images/uruguay.png" alt="Uruguay flag" class="h-4 w-4" />
				<a
					href="Tel:+598098418169"
					class="text-xs text-gray-400 transition-all hover:scale-105 hover:text-white"
					>+598 098 418 169</a
				>
			</div>
		</div>
		<div class="flex flex-col items-center gap-3 md:items-start mr-auto ml-auto">
			<h4>Nuestras Redes</h4>
			<div class="flex flex-row items-center gap-3 md:items-start">
				<div class="flex items-center gap-4">
					<a
						href="https://www.instagram.com/nimionsoftware/"
						class="text-xs text-gray-400 transition-all hover:scale-105 hover:text-white"
						target="_blank"
						><img src="../images/insta.png" alt="Icon Instagram" class="h-5 w-5 invert" /></a
					>
				</div>
				<div class="flex items-center gap-4">
					<a
						href="https://www.linkedin.com/in/nimion-software-solutions-76b0492a1/"
						class="text-xs text-gray-400 transition-all hover:scale-105 hover:text-white"
						target="_blank"
						><img src="../images/linkedin.png" alt="Icon Linkedin" class="h-5 w-5 invert" /></a
					>
				</div>
			</div>
		</div>
	</article>
	<div class="-mb-14 mt-[6rem] flex">
		<img class="h-4 w-4" src="../images/Copyright.png" alt="Icon Copyright" />
		<p class="cursor-default text-xs font-medium">2023 Nimion. Todos los derechos reservados</p>
	</div>
</footer>
